<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>home page <%= (1 + 2 +3) %> </h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, labore!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis necessitatibus pariatur maiores aut quasi obcaecati ea odit eaque delectus sapiente, nulla iure recusandae voluptate cupiditate eligendi fuga quam quae perferendis ratione. Optio sunt sed sint mollitia, ullam non illum, perferendis quam sequi rem quaerat dolorem, earum id? Aliquid facere distinctio sapiente accusamus fugiat velit odio, doloribus, voluptas atque vero culpa natus assumenda unde, quo magnam laboriosam animi quis explicabo magni. Dolore perspiciatis ex, ipsa autem soluta fuga molestias illo sit cum? Maxime, ut? Repellat iste ex repellendus sapiente, consequatur, labore nemo mollitia asperiores illum eligendi modi harum, voluptates facilis quaerat.</p>
</body>
</html>