<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>Home page</h1>

    <% if(isLogin){ %>
        <a href="/profile"><%= username %></a>
        <form action="/logout" method="post">
            <button>logout</button>
        </form>
    <% } else { %>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
    <% } %>
</body>
</html>